body{
    max-width: 1024px;
    margin: 0px auto;
    font-size: 16px;
    border: 1px solid red;
}
header article:nth-child(1){
    background: rgb(39, 94, 144);
    text-align: center;
}
header article:nth-child(1) img{
    width: 170px;
}
header article:nth-child(2){
    background: #ecebec;
    text-align: right;
}
section{
    display: inline-block;
    vertical-align: top;
    padding: 0px 11px;
    border: 1px solid red;
}
#sec01{
    padding-top: -100px;
    width: 25%;
}
#artNav{
    background: #08395f;
}
#sec02{
    border: 1px solid red;
    width: 70%;
    height: 650px;
}
#s2art1 article{
    display: inline-block;
    width: 21%;
    border: 1px solid red;
    vertical-align: top;
    text-align: center;
    padding: 8px 10px;
    height: 150px;
}
#s2art1 img{
    width: 100px;
}
#artCubo1{
    background: #1ca923;
}
#artCubo2{
    background: #1c6ca9;
}
#artCubo3{
    background: #7d1ba6;
}
#artCubo4{
    background: #a51b1a;
}
#s2art1{
    display: inline-block;
    text-align: left;
}
#sec02 article:nth-child(2) img{
    width: 98%;
}
#sec02 article:nth-child(3) img{
    width: 98%;
}
#sec02 article:nth-child(3) article{
    display: inline-block;
    width: 21%;
    border: 1px solid red;
    vertical-align: top;
    text-align: center;
    padding: 8px 10px;
    height: 160px;
}
#sec02 article:nth-child(3) article img{
    width: 100px;
}
#users article{
    background: #4d6caa;
}
#sec02 article:nth-child(3) article input{
    background: #6dc2c4;
    border: #6dc2c4;
}
.letra-blanca{
    color: #ffffff;
}
.letra-gris{
    color: #9f9e9e;
}